:root {
  font-family: "Pretendard Variable", "Pretendard", "Space Grotesk", -apple-system,
    BlinkMacSystemFont, "Apple SD Gothic Neo", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #030303;
  color: #f5f5f5;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #030303;
}

button,
input,
textarea {
  font: inherit;
}
